<h1>List of pictures</h1>

<% @picture_list.each do |pic| %>

<p><img width =150 src="<%= pic.source %>"</p>
<p><%= pic.caption %></p>
<%= link_to "Give me the pic details", picture_url(pic.id) %>

 <% end %>


